<%- include('../layout/head.ejs') %>
<%- include('../layout/mid.ejs') %>
    <h2>Thêm mới bàn ăn</h2>

    
    <form action="/api/v1/table/add_table" method="post">
        <label for="name">Bàn số:</label>
        <input type="text" id="name" name="name" required>
        <label for="price">Số người:</label>
        <input type="number" id="price" name="price" required>
        <label for="description">Mô tả:</label>
        <textarea id="description" name="description" required></textarea>
        <label for="image">Url Hình ảnh:</label>
        <input type="text" id="image" name="image" required>
       <!-- <input type="file" id="image" name="image" accept="image/*" required> -->
        <button type="submit">Thêm mới bàn ăn</button>
    </form>

    
</body>
</html>
