
<body>
    <div class="main-header__nav">
    
        <div class="menu_header_navbar">
            <ul class=" main-header__item-list">
                <li>
                    <a class= 'button' href="/index">Trang chủ</a>
                </li>
                <li>
                    <a class= 'button' href="/api/v1/table/list">Quản lý bàn ăn</a>
                </li>
                <li>
                    <a class='button' href="/api/v1/product/list">Quản lý món ăn</a>
                </li>
            </ul>
        </div>
    </div>
    